node_modules
npm-debug.log
dist
build
.env
.env.local
.env.*.local
.DS_Store
.git
.gitignore
README.md
yarn.lock
coverage
.nyc_output
.next
out
.swp
.swo
*~
.vscode
.idea
*.iml
.turbo
.turboignore
cypress
coverage
dist
.cache
.parcel-cache
.parcelignore
