node_modules
npm-debug.log
dist
build
.env
.env.local
.env.*.local
.DS_Store
.git
.gitignore
README.md
yarn.lock
.vscode
.idea
*.iml
coverage
.nyc_output
.next
out
cypress
dist
.cache
.parcel-cache
.parcelignore
.turbo
.eslintcache
